### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### WeChat Mini Program
node_modules/
project.private.config.json
.miniprogram-ci/
private.*.key
private.*.pem
